## Schemas

<https://www.kaggle.com/c/tmdb-box-office-prediction/data>

In [ ]:
import pandas as pd
import pyspark.sql.functions as F 

from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("PySparkShell") \
    .getOrCreate()

In [4]:
spark

## Create Dataframes from RDD

In [ ]:
cities_rdd = sc.parallelize([
    ("MAD", "Madrid", "ES", 40.4165, -3.70256),
    ("BCN", "Barcelona", "ES", 41.297078, 2.078464),
    ("PAR", "Paris", "FR", 48.85341, 2.3488),
    ("ROM", "Rome", "IT", 41.89193, 12.51133)])

cities_df = cities_rdd.toDF([
    "city_code","city_name","country_code","latitude","longitude"])

cities_df.show()

In [ ]:
cities_df = spark.createDataFrame([
    ("MAD", "Madrid", "ES", 40.4165, -3.70256),
    ("BCN", "Barcelona", "ES", 41.297078, 2.078464),
    ("PAR", "Paris", "FR", 48.85341, 2.3488),
    ("ROM", "Rome", "IT", 41.89193, 12.51133)],
    ["city_code","city_name","country_code","latitude","longitude"])

cities_df.show()

In [ ]:
cities_df.printSchema()

In [ ]:
cities_df.filter(cities_df.country_code=="ES").show()

In [ ]:
cities_df.select('city_code','country_code').show()

In [ ]:
import pyspark.sql.functions as F 
agg_df = cities_df\
    .groupBy('country_code')\
    .agg(F.count(F.col('city_code')))\
    .orderBy(F.col('country_code'))
agg_df.show()

In [ ]:
agg_df.explain()

In [ ]:
print(agg_df.rdd.toDebugString().decode())

In [ ]:
cities_df.describe().show()

### Array and Struct types

In [ ]:
countries = sc.parallelize([
    ("ES", ["Spanish","Catalan","Basque"], ("MAD", "Madrid")),
    ("FR", ["French","Alsacien","Breton"], ("PAR", "Paris")),
    ("IT", ["Italian","French"], ("ROM", "Rome")),
    ("US", ["English", "Spanish"], ("WAS", "Washington"))]).toDF(["country_code", "languages", "capital"])\
    .withColumn('capital', F.struct(F.col("capital._1").alias("code"), F.col("capital._2").alias("name")))
countries.show(truncate=False)

In [ ]:
countries.printSchema()

In [ ]:
countries.select('country_code',F.col('languages').getItem(0),'capital.name').show()

## Read csv data

In [ ]:
#!wget https://raw.githubusercontent.com/JulienCojan/pyspark_kschool/master/data/tmdb-box-office-prediction/train.csv -P data/tmdb-box-office-prediction

In [1]:
films_sdf = spark\
    .read\
    .csv("data/tmdb-box-office-prediction/train.csv", header=True)

In [2]:
films_sdf.printSchema()

root
 |-- id: string (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- Keywords: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- revenue: string (nullable = true)

In [3]:
films_sdf.show()

+---+---------------------+---------+--------------------+--------------------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
| id|belongs_to_collection|   budget|              genres|            homepage|  imdb_id|original_language|      original_title|            overview|          popularity|         poster_path|production_companies|production_countries|        release_date|             runtime|    spoken_languages|  status|             tagline|               title|            Keywords|                cast|                crew|             revenue|
+---+---------------------+---------+--------------------+--------------------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|  1| [{'id': 313576, '...| 14000000|[{'id': 35, 'name...|                null|tt2637294|               en|Hot Tub Time Mach...|"When Lou, who ha...|"" is shot by an ...| Jacob and Nick f...|            6.575393|/tQtWuwvMf0hCc2QR...|[{'name': 'Paramo...|[{'iso_3166_1': '...|             2/20/15|      93|[{'iso_639_1': 'e...|            Released|The Laws of Space...|Hot Tub Time Mach...|[{'id': 4379, 'na...|[{'cast_id': 4, '...|
|  2| [{'id': 107674, '...| 40000000|[{'id': 35, 'name...|                null|tt0368933|               en|The Princess Diar...|Mia Thermopolis i...|            8.248895|/w9Z7A0GHEhIp7etp...|[{'name': 'Walt D...|[{'iso_3166_1': '...|              8/6/04|                 113|[{'iso_639_1': 'e...|Released|It can take a lif...|The Princess Diar...|[{'id': 2505, 'na...|"[{'cast_id': 1, ...| 'credit_id': '56...|         'gender': 1|
|  3|                 null|  3300000|[{'id': 18, 'name...|http://sonyclassi...|tt2582802|               en|            Whiplash|Under the directi...|            64.29999|/lIv1QinFqz4dlp5U...|[{'name': 'Bold F...|[{'iso_3166_1': '...|            10/10/14|                 105|[{'iso_639_1': 'e...|Released|The road to great...|            Whiplash|[{'id': 1416, 'na...|"[{'cast_id': 5, ...|         'order': 27| 'profile_path': ...|
|  4|                 null|  1200000|[{'id': 53, 'name...|http://kahaanithe...|tt1821480|               hi|             Kahaani|Vidya Bagchi (Vid...|            3.174936|/aTXRaPrWSinhcmCr...|                null|[{'iso_3166_1': '...|              3/9/12|                 122|[{'iso_639_1': 'e...|Released|                null|             Kahaani|[{'id': 10092, 'n...|[{'cast_id': 1, '...|[{'credit_id': '5...|            16000000|
|  5|                 null|        0|[{'id': 28, 'name...|                null|tt1380152|               ko|            마린보이|Marine Boy is the...|             1.14807|/m22s7zvkVFDU9ir5...|                null|[{'iso_3166_1': '...|              2/5/09|                 118|[{'iso_639_1': 'k...|Released|                null|          Marine Boy|                null|[{'cast_id': 3, '...|[{'credit_id': '5...|             3923970|
|  6|                 null|  8000000|[{'id': 16, 'name...|                null|tt0093743|               en|Pinocchio and the...|Pinocchio and his...|            0.743274|/6IDqA1D2NBIVhzEE...|                null|                null|              8/6/87|                  83|[{'iso_639_1': 'e...|Released|                null|Pinocchio and the...|                null|[{'cast_id': 6, '...|"[{'credit_id': '...| 'profile_path': ...|
|  7|                 null| 14000000|[{'id': 27, 'name...|http://www.thepos...|tt0431021|               en|      The Possession|A young girl buys...|            7.286477|/4QjzFuaZmB4btGnL...|[{'name': 'Ghost ...|[{'iso_3166_1': '...|             8/30/12|                  92|[{'iso_639_1': 'e...|Released|Fear The Demon Th...|      The Possession|                null|"[{'cast_id': 23,...| 'credit_id': '52...|         'gender': 2|
|  8|                 null|        0|[{'id': 99, 'name...|                null|tt0391024|               en|        Control Room|A chronicle which...|            1.949044|/83BV8fGy5p9i8RwE...|                null|                null|             1/15/04|                  84|[{'iso_639_1': 'a...|Released|Different channel...|        Control Room|[{'id': 917, 'nam...|[{'cast_id': 2, '...|[{'credit_id': '5...|             2586511|
|  9| [{'id': 256377, '...|        0|[{'id': 28, 'name...|                null|tt0117110|               en|Muppet Treasure I...|After telling the...|            6.902423|/5A8gKzOrF9Z7tSUX...|[{'name': 'Walt D...|[{'iso_3166_1': '...|             2/16/96|                 100|[{'iso_639_1': 'e...|Released|Set sail for Mupp...|Muppet Treasure I...|[{'id': 2041, 'na...|"[{'cast_id': 1, ...| 'credit_id': '59...|         'gender': 0|
| 10|                 null|  6000000|[{'id': 35, 'name...|                null|tt0310281|               en|       A Mighty Wind|"In ""A Mighty Wi...| director Christo...| who inspired by ...| get back on the ...|            4.672036|/xwD4EsPOGLuKP50Q...|[{'name': 'Castle...|[{'iso_3166_1': '...| 4/16/03|                  91|[{'iso_639_1': 'e...|            Released|Back together for...|       A Mighty Wind|[{'id': 11800, 'n...|
| 11| [{'id': 1575, 'na...|  1000000|[{'id': 18, 'name...|                null|tt0075148|               en|               Rocky|When world heavyw...|           14.774066|/i5xiwdSsrecBvO7m...|[{'name': 'United...|[{'iso_3166_1': '...|            11/21/76|                 119|[{'iso_639_1': 'e...|Released|His whole life wa...|               Rocky|"[{'id': 240, 'na...|         {'id': 2416| 'name': 'publici...|         {'id': 2792|
| 12| [{'id': 48190, 'n...|        0|[{'id': 35, 'name...|                null|tt0093857|               en|Revenge of the Ne...|The members of th...|            10.54375|/1KTi0wJQfyi8YnAj...|[{'name': 'Twenti...|[{'iso_3166_1': '...|             7/10/87|                  98|[{'iso_639_1': 'e...|Released|       They're Back!|Revenge of the Ne...|[{'id': 5801, 'na...|[{'cast_id': 2, '...|[{'credit_id': '5...|            22642033|
| 13|                 null| 15000000|[{'id': 18, 'name...|http://www.dreamw...|tt0169547|               en|     American Beauty|Lester Burnham, a...|           20.726578|/or1MP8BZIAjqWYxP...|[{'name': 'DreamW...|[{'iso_3166_1': '...|             9/15/99|                 122|[{'iso_639_1': 'e...|Released|        Look closer.|     American Beauty|[{'id': 255, 'nam...|"[{'cast_id': 6, ...| 'credit_id': '55...|         'gender': 1|
| 14| [{'id': 91698, 'n...| 53000000|[{'id': 35, 'name...|                null|tt0377471|               en|             Be Cool|Disenchanted with...|           13.314233|/ekKCH7Zkb5ZTr1f1...|[{'name': 'Double...|[{'iso_3166_1': '...|              3/4/05|                 118|[{'iso_639_1': 'e...|Released|Everyone is looki...|             Be Cool|[{'id': 3605, 'na...|"[{'cast_id': 4, ...| 'credit_id': '57...|         'gender': 1|
| 15|                 null|102000000|[{'id': 28, 'name...|                null|tt0181689|               en|     Minority Report|John Anderton is ...|           20.666063|/h3lpltSn7Rj1eYTP...|[{'name': 'DreamW...|[{'iso_3166_1': '...|             6/20/02|                 145|[{'iso_639_1': 'e...|Released|The system is per...|     Minority Report|[{'id': 476, 'nam...|[{'cast_id': 5, '...|"[{'credit_id': '...| 'profile_path': ...|
| 16|                 null|   500000|[{'id': 28, 'name...|http://skinningmo...|tt1129437|               sr|             Šišanje|Novica is a mathe...|            1.018477|/88l8VBanH0lS5Wvz...|[{'name': 'Hypnop...|[{'iso_3166_1': '...|             10/6/10|                  97|[{'iso_639_1': 's...|Released|Life is sometimes...|            Skinning|[{'id': 379, 'nam...|"[{'cast_id': 100...|          'order': 8| 'profile_path': ...|
| 17|                 null| 26000000|[{'id': 27, 'name...|                null|tt0421239|               en|             Red Eye|After attending t...|            6.336927|/rTDa8Ald7iiES01z...|[{'name': 'DreamW...|[{'iso_3166_1': '...|              8/4/05|                  85|[{'iso_639_1': 'e...|Released|  Fear takes flight.|             Red Eye|[{'id': 1562, 'na...|"[{'cast_id': 1, ...| 'credit_id': '58...|         'gender': 0|
| 18|                 null|        0|[{'id': 18, 'name...|                null|tt1700845|               en| The Invisible Woman|In 1857, at the h...|            4.183558|/cIMdqerF4DuVEYnk...|[{'name': 'BBC Fi...|[{'iso_3166_1': '...|            12/25/13|                 111|[{'iso_639_1': 'e...|Released|His greatest stor...| The Invisible Woman|[{'id': 5565, 'na...|[{'cast_id': 7, '...|"[{'credit_id': '...| 'profile_path': ...|
| 19|                 null|  8000000|[{'id': 35, 'name...|                null|tt1487118|               en|         Chalet Girl|While working a j...|            6.496259|/64AQrBEKJVSIRaoc...|[{'name': 'UK Fil...|[{'iso_3166_1': '...|              2/2/11|                  96|[{'iso_639_1': 'd...|Released|How to marry a bi...|         Chalet Girl|[{'id': 271, 'nam...|[{'cast_id': 2, '...|[{'credit_id': '5...|             1749457|
| 20| [{'id': 9518, 'na...| 32000000|[{'id': 28, 'name...|                null|tt0388482|               en|       Transporter 2|Professional driv...|           11.359659|/bZKkwfQf4mHYlNbm...|[{'name': 'Twenti...|[{'iso_3166_1': '...|              8/2/05|                  87|[{'iso_639_1': 'e...|Released|The Best In The B...|       Transporter 2|[{'id': 779, 'nam...|[{'cast_id': 1, '...|[{'credit_id': '5...|            85167639|
+---+---------------------+---------+--------------------+--------------------+---------+-----------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [4]:
print(films_sdf.select("cast").limit(10).toPandas().iloc[1]["cast"])

"[{'cast_id': 1, 'character': 'Mia Thermopolis', 'credit_id': '52fe43fe9251416c7502561f', 'gender': 1, 'id': 1813, 'name': 'Anne Hathaway', 'order': 0, 'profile_path': '/jUMOKwSUBnTcMeN1HfhutiY49Ad.jpg'}, {'cast_id': 2, 'character': 'Queen Clarisse Renaldi', 'credit_id': '52fe43fe9251416c75025623', 'gender': 1, 'id': 5823, 'name': 'Julie Andrews', 'order': 1, 'profile_path': '/6t61jkmfSA6nbYRCKR9s97CgUN6.jpg'}, {'cast_id': 3, 'character': 'Joe', 'credit_id': '52fe43fe9251416c75025627', 'gender': 2, 'id': 1210, 'name': 'H√©ctor Elizondo', 'order': 2, 'profile_path': '/48UNfVFZVr0jyMIlLPhzm8IIM7f.jpg'}, {'cast_id': 4, 'character': 'Viscount Mabrey', 'credit_id': '52fe43fe9251416c7502562b', 'gender': 2, 'id': 655, 'name': 'John Rhys-Davies', 'order': 3, 'profile_path': '/zZ67PuoFfik9QlZyfaEsFBC1yVJ.jpg'}, {'cast_id': 5, 'character': 'Lilly Moscovitz', 'credit_id': '52fe43fe9251416c7502562f', 'gender': 1, 'id': 33656, 'name': 'Heather Matarazzo', 'order': 4, 'profile_path': '/xcwR8aPuSkUCDPIyKU049M1CXph.jpg'}, {'cast_id': 6, 'character': 'Nicholas Devereaux', 'credit_id': '52fe43fe9251416c75025633', 'gender': 2, 'id': 62064, 'name': 'Chris Pine', 'order': 5, 'profile_path': '/vSe6sIsdtcoqBhuWRXynahFg8Vf.jpg'}, {'cast_id': 7, 'character': 'Andrew Jacoby', 'credit_id': '52fe43fe9251416c75025637', 'gender': 2, 'id': 68287, 'name': 'Callum Blue', 'order': 6, 'profile_path': '/3qf8rLoWmXOcCA8Rs9RPIEQ9yLB.jpg'}, {'cast_id': 17, 'character': 'Paolo', 'credit_id': '52fe43fe9251416c75025671', 'gender': 2, 'id': 1211, 'name': 'Larry Miller', 'order': 7, 'profile_path': '/xA8zCxNrwtamLaLWNBkLyX5tGtU.jpg'}, {'cast_id': 18, 'character': 'Asana', 'credit_id': '52fe43fe9251416c75025675', 'gender': 1, 'id': 66896, 'name': 'Raven-Symon√©', 'order': 8, 'profile_path': '/nzklI9bgqsUKVWlnQcT5lSrCyaM.jpg'}, {'cast_id': 19, 'character': 'Charlotte Kutaway', 'credit_id': '52fe43fe9251416c75025679', 'gender': 1, 'id': 303542, 'name': 'Kathleen Marshall', 'order': 9, 'profile_path': '/4ANxOHPa81aqLyP8BQxkwmZrWgK.jpg'}, {'cast_id': 21, 'character': ""Mia's Mom Helen""

In [5]:
from pyspark.sql.types import IntegerType
import pyspark.sql.functions as F

films_sdf = films_sdf\
    .withColumn("id", films_sdf.id.cast(IntegerType()))
    
    
films_sdf.printSchema()

root
 |-- id: integer (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- Keywords: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- revenue: string (nullable = true)

In [6]:
films_sdf.select("genres").show(5, truncate=False)

+------------------------------------------------------------------------------------------------------------------------------+
|genres                                                                                                                        |
+------------------------------------------------------------------------------------------------------------------------------+
|[{'id': 35, 'name': 'Comedy'}]                                                                                                |
|[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]|
|[{'id': 18, 'name': 'Drama'}]                                                                                                 |
|[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'name': 'Drama'}]                                                                 |
|[{'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]                                                                |
+------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

In [7]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, ArrayType

schema = ArrayType(
    StructType([
        StructField("id", IntegerType()),
        StructField("name", StringType())
    ])
)

films_sdf = films_sdf\
    .withColumn("genres", F.from_json(F.col("genres"), schema))

In [8]:
films_sdf.printSchema()

root
 |-- id: integer (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: integer (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- Keywords: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- revenue: string (nullable = true)

In [9]:
films_sdf.select("genres").show(5, truncate=False)

+--------------------------------------------------------------+
|genres                                                        |
+--------------------------------------------------------------+
|[[35, Comedy]]                                                |
|[[35, Comedy], [18, Drama], [10751, Family], [10749, Romance]]|
|[[18, Drama]]                                                 |
|[[53, Thriller], [18, Drama]]                                 |
|[[28, Action], [53, Thriller]]                                |
+--------------------------------------------------------------+
only showing top 5 rows

In [10]:
films_sdf.select("genres.name").show(5, truncate=False)

+--------------------------------+
|name                            |
+--------------------------------+
|[Comedy]                        |
|[Comedy, Drama, Family, Romance]|
|[Drama]                         |
|[Thriller, Drama]               |
|[Action, Thriller]              |
+--------------------------------+
only showing top 5 rows

In [ ]:
films_sdf.select("genres.name").printSchema()

## String manipulation

In [ ]:
films_sdf2 = spark.read.csv("data/tmdb-box-office-prediction/train.csv", header=True)

In [ ]:
films_sdf2.select("genres").show(truncate=False)

In [ ]:
genres_col = films_sdf2\
    .select(
    "id", 
    F.col("genres").substr(F.lit(2), F.length(F.col("genres"))-2).alias("genres"))

genres_col.show(3, truncate=False)

In [ ]:
genres_col\
     .withColumn("genres_array", F.split(F.col("genres"), '(?<=}), '))\
     .head(2)

In [ ]:
genre_sdf = genres_col\
    .select("id", F.explode(F.split(F.col("genres"), '(?<=}), ')).alias("genre"))

genre_sdf.show(truncate=False)

In [ ]:
genre_sdf.select(
    F.col('id'),
    F.regexp_extract(F.col("genre"), "(?<='name':\ ')[A-Z][a-z]+", 0).alias("genre_name")
    ).groupBy("genre_name")\
    .count().orderBy(F.desc("count")).show()

## Saving data

In [11]:
films_sdf.printSchema()

root
 |-- id: integer (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: integer (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- Keywords: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- revenue: string (nullable = true)

In [17]:
films_sdf.repartition(1).write.mode('overwrite').parquet("data/tmdb1")
#films_sdf.write.mode('overwrite').parquet("data/tmdb1")

In [18]:
!ls data/tmdb1

_SUCCESS  part-00000-4e153c39-0824-4688-a72b-c9fdd2162008-c000.snappy.parquet

In [15]:
new_films_sdf = spark.read.parquet("data/tmdb1")

In [16]:
new_films_sdf.printSchema()

root
 |-- id: integer (nullable = true)
 |-- belongs_to_collection: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- id: integer (nullable = true)
 |    |    |-- name: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- poster_path: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- Keywords: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- revenue: string (nullable = true)

## Schema

In [ ]:
from pyspark.sql.types import StructField, StructType, IntegerType, LongType

schema = \
StructType([
    StructField("id", IntegerType(), False),
    StructField("genres", ArrayType(
        StructType([
            StructField("id", IntegerType()),
            StructField("name", StringType())
        ])))
    ])

In [ ]:
new_films_sdf = spark.read.schema(schema=schema).parquet("data/tmdb1")

In [ ]:
new_films_sdf.printSchema()

## Partition

In [ ]:
#!wget https://raw.githubusercontent.com/JulienCojan/pyspark_kschool/master/data/competitive-data-science-predict-future-sales/sales_train.csv.gz -P data/competitive-data-science-predict-future-sales/

In [15]:
#sales_sdf = spark.read.option("header", "true").csv("data/competitive-data-science-predict-future-sales/sales_train.csv.gz")
sales_sdf = spark.read.option("header", "true").csv("data/competitive-data-science-predict-future-sales/sample.csv")

In [16]:
import pyspark.sql.functions as F
sales_with_iso_dates = sales_sdf\
    .withColumn("date", F.from_unixtime(F.unix_timestamp(F.col("date"), 'dd.MM.yyyy')))\
    .withColumn("year", F.year("date"))\
    .withColumn("month", F.month("date"))\
    .withColumn("day", F.dayofmonth("date"))

In [17]:
sales_with_iso_dates.show()

+-------------------+--------------+-------+-------+----------+------------+----+-----+---+
|               date|date_block_num|shop_id|item_id|item_price|item_cnt_day|year|month|day|
+-------------------+--------------+-------+-------+----------+------------+----+-----+---+
|2013-01-02 00:00:00|             0|     59|  22154|     999.0|         1.0|2013|    1|  2|
|2013-01-03 00:00:00|             0|     25|   2552|     899.0|         1.0|2013|    1|  3|
|2013-01-05 00:00:00|             0|     25|   2552|     899.0|        -1.0|2013|    1|  5|
|2013-01-06 00:00:00|             0|     25|   2554|   1709.05|         1.0|2013|    1|  6|
|2013-01-15 00:00:00|             0|     25|   2555|    1099.0|         1.0|2013|    1| 15|
|2013-01-10 00:00:00|             0|     25|   2564|     349.0|         1.0|2013|    1| 10|
|2013-01-02 00:00:00|             0|     25|   2565|     549.0|         1.0|2013|    1|  2|
|2013-01-04 00:00:00|             0|     25|   2572|     239.0|         1.0|2013|    1|  4|
|2013-01-11 00:00:00|             0|     25|   2572|     299.0|         1.0|2013|    1| 11|
|2013-01-03 00:00:00|             0|     25|   2573|     299.0|         3.0|2013|    1|  3|
|2013-01-03 00:00:00|             0|     25|   2574|     399.0|         2.0|2013|    1|  3|
|2013-01-05 00:00:00|             0|     25|   2574|     399.0|         1.0|2013|    1|  5|
|2013-01-07 00:00:00|             0|     25|   2574|     399.0|         1.0|2013|    1|  7|
|2013-01-08 00:00:00|             0|     25|   2574|     399.0|         2.0|2013|    1|  8|
|2013-01-10 00:00:00|             0|     25|   2574|     399.0|         1.0|2013|    1| 10|
|2013-01-11 00:00:00|             0|     25|   2574|     399.0|         2.0|2013|    1| 11|
|2013-01-13 00:00:00|             0|     25|   2574|     399.0|         1.0|2013|    1| 13|
|2013-01-16 00:00:00|             0|     25|   2574|     399.0|         1.0|2013|    1| 16|
|2013-01-26 00:00:00|             0|     25|   2574|     399.0|         1.0|2013|    1| 26|
|2013-01-27 00:00:00|             0|     25|   2574|     399.0|         1.0|2013|    1| 27|
+-------------------+--------------+-------+-------+----------+------------+----+-----+---+
only showing top 20 rows

In [18]:
#sales_with_iso_dates.write.partitionBy("year", "month", "day").mode('overwrite').parquet("data/tmdb2")
sales_with_iso_dates.write.partitionBy("year", "month", "day").mode('overwrite').csv("data/sales")

In [ ]:
!ls data/tmdb2

In [ ]:
!ls data/tmdb2/year=2013/month=3/day=19

In [20]:
#films_sdf2 = spark.read.parquet("data/tmdb2/year=2013")
films_sdf2 = spark.read.csv("data/sales/year=2013")

In [21]:
films_sdf2.show()

+-------------------+---+---+-----+------+---+-----+---+
|                _c0|_c1|_c2|  _c3|   _c4|_c5|month|day|
+-------------------+---+---+-----+------+---+-----+---+
|2013-01-02 00:00:00|  0| 59|22154| 999.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2565| 549.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2546| 299.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2715| 899.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2716| 149.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2719|2699.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2480|  58.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2731| 599.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2833| 599.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2808| 999.0|2.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2090| 449.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2389| 999.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2441|1199.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2678| 999.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2682|1499.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2439| 299.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2412|5490.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2415| 299.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 2416| 449.0|1.0|    1|  2|
|2013-01-02 00:00:00|  0| 25| 3172| 148.0|1.0|    1|  2|
+-------------------+---+---+-----+------+---+-----+---+
only showing top 20 rows

In [8]:
films_sdf3 = spark\
    .read\
    .option("basePath", "data/tmdb2")\
    .parquet(
        "data/tmdb2/year=2014/month=3",
        "data/tmdb2/year=2014/month=4"
    )

In [13]:
films_sdf3 = spark\
    .read\
    .option("basePath", "data/tmdb2")\
    .parquet(
        "data/tmdb2/year=2014/month=3"
    )

In [14]:
films_sdf3.groupBy("year", "month").count().show()

+----+-----+-----+
|year|month|count|
+----+-----+-----+
|2014|    3|92733|
+----+-----+-----+

## Handling NA

In [ ]:
from pyspark.sql import Row

In [ ]:
df1 = spark.createDataFrame([
    Row(id=1, value=15.0),
    Row(id=2, value=None),
    Row(id=3, value=float('NaN')),
])
df1.show()

In [ ]:
df2 = spark.createDataFrame([
    Row(id=1, value=float('NaN')),
    Row(id=2, value=42.0),
    Row(id=3, value=None)
])
df2.show()

In [ ]:
df1.join(df2, df1["value"] == df2["value"]).show()

In [ ]:
df1.join(df2, df1["value"].eqNullSafe(df2["value"])).show()

In [ ]:
df2.select(
    df2['value'].eqNullSafe(None),
    df2['value'].eqNullSafe(float('NaN')),
    df2['value'].eqNullSafe(42.0)
).show()

In [ ]:
pdf1 = df1.toPandas()
pdf2 = df2.toPandas()

In [ ]:
pdf2.dtypes

In [ ]:
pdf1.join(pdf2, on="value", lsuffix="_1", how='inner')