## SQL vs Spark

Examples borrowed from:
    * https://github.com/sbartek/intro-to-pyspark
    * https://github.com/carloapp2/SparkPOT.git
    
See doc on: http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#

Data comes from 
<https://www.kaggle.com/c/competitive-data-science-predict-future-sales/data>

In [2]:
## Check if spark session is defined
## Otherwise create one with
#from pyspark.sql import SparkSession
# spark = SparkSession.builder.appName("PySparkShell").getOrCreate()
spark

In [3]:
!wget https://raw.githubusercontent.com/JulienCojan/pyspark_kschool/master/data/competitive-data-science-predict-future-sales/sales_train.csv.gz -P data/competitive-data-science-predict-future-sales/

# Dataframe

In [5]:
cities_rdd = sc.parallelize([
    ("MAD", "Madrid", "ES", 40.4165, -3.70256),
    ("BCN", "Barcelona", "ES", 41.297078, 2.078464),
    ("PAR", "Paris", "FR", 48.85341, 2.3488),
    ("ROM", "Rome", "IT", 41.89193, 12.51133)])
cities_rdd.collect()

In [6]:
cities_df = cities_rdd.toDF(["city_code","city_name","country_code","latitude","longitude"])
cities_df

In [7]:
cities_df.show()

In [8]:
import pyspark.sql.functions as F

In [9]:
cities_df.select(cities_df.city_code,F.col('city_name'),'latitude').show()

In [10]:
cities_df.select(F.lower(cities_df.city_code),F.col('city_name'))

In [11]:
cities_df.select(F.lower(cities_df.city_code),F.col('city_name')).toPandas()

In [12]:
#sales_path="data/competitive-data-science-predict-future-sales/sales_train.csv.gz"
sales_path="/FileStore/tables/sales_train_csv.gz"

In [13]:
sales_sdf = spark\
    .read\
    .option("header", "true")\
    .option("sep", ",")\
    .csv(sales_path)

In [14]:
sales_sdf.printSchema()

In [15]:
sales_sdf.show(30,truncate=False)

In [16]:
sales_sdf.count()

In [17]:
v = sales_sdf.select(sales_sdf.date,sales_sdf.item_price).limit(20).collect()

In [18]:
v

In [19]:
pdf = sales_sdf.select(sales_sdf.date,sales_sdf.item_price).limit(20).toPandas()
pdf

,date,item_price
0,02.01.2013,999.0
1,03.01.2013,899.0
2,05.01.2013,899.0
3,06.01.2013,1709.05
4,15.01.2013,1099.0
5,10.01.2013,349.0
6,02.01.2013,549.0
7,04.01.2013,239.0
8,11.01.2013,299.0
9,03.01.2013,299.0
10,03.01.2013,399.0
11,05.01.2013,399.0
12,07.01.2013,399.0
13,08.01.2013,399.0
14,10.01.2013,399.0
15,11.01.2013,399.0
16,13.01.2013,399.0
17,16.01.2013,399.0
18,26.01.2013,399.0
19,27.01.2013,399.0

In [20]:
type(pdf)

In [21]:
sales_sdf[['shop_id','item_id']].head()

In [22]:
sales_sdf.createOrReplaceTempView("sales")

In [23]:
sales_10 = spark.sql(
"""
SELECT *
FROM sales
LIMIT 10
""")
sales_10

In [24]:
sales_10.show()

In [25]:
sales_sdf.select(F.year(F.col('date'))).show()

In [26]:
from pyspark.sql.types import DateType

In [27]:
sales_sdf2 = sales_sdf\
    .withColumnRenamed('date', 'date_str')\
    .withColumn('date', (F.from_unixtime(F.unix_timestamp(F.col('date_str'), 'dd.MM.yyyy'))).cast(DateType()))\
    .withColumn('date_str', F.from_unixtime(F.unix_timestamp(F.col('date_str'), 'dd.MM.yyyy')))
sales_sdf2.show()

In [28]:
sales_sdf2.printSchema()

In [29]:
sales_sdf2.select(F.year(F.col('date_str'))).show()

In [30]:
sales_sdf2.createOrReplaceTempView("sales2")

## SELECT ~ select

In [32]:
spark.sql("""
SELECT shop_id, item_id
FROM sales
""").show()

In [33]:
sales_sdf\
   .select("shop_id", "item_id")\
   .head()

In [34]:
spark.sql("""
SELECT DISTINCT shop_id
FROM sales
""").show()

In [35]:
spark.sql("""
SELECT DISTINCT shop_id, item_id
FROM sales
""").show()

In [36]:
sales_sdf\
    .select("shop_id","item_id")\
    .distinct()\
    .show()

__Exercise__ List distinct values for `date` and `date_block_num`.

In [38]:
sales_sdf\
    .select("date","date_block_num")\
    .distinct()\
    .show()

## WHERE ~ filter

In [40]:
spark.sql("""
SELECT *
FROM sales
WHERE shop_id = 25
""").show(truncate=False)

In [41]:
sales_sdf\
   .filter(F.col("shop_id") == 25)\
   .show()

__Exercise__ List different items from shop 25.

In [43]:
spark.sql("""
SELECT DISTINCT item_id
FROM sales
WHERE shop_id = 25
""").show(truncate=False)

In [44]:
tmp_df = sales_sdf[(sales_sdf["shop_id"] == 25)]
tmp_df.show()

In [45]:
tmp_df = sales_sdf\
   .filter(sales_sdf["shop_id"] == 25)\
   .select('item_id')\
   .distinct()
tmp_df.show()
tmp_df.explain()

In [46]:
tmp_df2 = sales_sdf\
    .select(F.col('item_id'))\
    .distinct()\
    .filter(F.col("shop_id") == 25)
tmp_df2.show()
tmp_df2.explain()

In [47]:
tmp_df2.show()

## ORDER BY ~ orderBy

In [49]:
spark.sql("""
SELECT *
FROM sales
WHERE shop_id = 25 AND item_id = 2252
ORDER BY date desc
""").show()

In [50]:
sales_sdf\
   .filter((F.col("shop_id") == 25) & (F.col("item_id") == 2252))\
   .orderBy("date")\
   .show()

In [51]:
sales_sdf\
   .filter((F.col("shop_id") == 25) & (F.col("item_id") == 2252))\
   .orderBy(F.desc("item_cnt_day"))\
   .show()

__Exercise__ List different items and its price that were sold on 20th or 21st of August 2015 ordered by price starting from the most expensive.

In [53]:
sales_sdf\
   .filter((F.col("date") == "21.08.2015") | (F.col("date") == "22.08.2015"))\
   .orderBy(F.desc("item_price"))\
   .show()

In [54]:
sales_sdf\
   .filter(F.col("date").isin(["21.08.2015","22.08.2015"]))\
   .orderBy(F.desc("item_price"))\
   .show()

In [55]:
sales_sdf2\
   .filter(F.col("date").isin(["2015-08-21","2015-08-22"]))\
   .orderBy(F.desc("item_price"))\
   .show()

In [56]:
sales_sdf2\
   .filter((F.year(F.col("date"))==2015) & (F.month(F.col("date"))==8))\
   .orderBy(F.desc("item_price"))\
   .show()

In [57]:
spark.sql(
"""
select *
from sales2
where year(date)=2015 and month(date)=8
"""
).show()

## AS ~ alias

In [59]:
spark.sql("""
SELECT item_cnt_day
,   item_price
,   item_cnt_day * item_price AS revenue
FROM sales
""").show()

In [60]:
sales_sdf\
    .select(
        F.col("item_cnt_day"),
        F.col("item_price"),
        (F.col("item_cnt_day") * F.col("item_price")).alias("revenue")
    ).show()

## aggregators

In [62]:
spark.sql("""
SELECT AVG(item_cnt_day) AS mean_sale
,   STDDEV(item_cnt_day) AS sd_sales
,   SUM(item_cnt_day) AS sum_sales
,   COUNT(*) AS nitems
FROM sales
""").show()

In [63]:
sales_sdf\
    .select(
        F.mean(F.col("item_cnt_day")).alias("mean_sales"),
        F.stddev(F.col("item_cnt_day")).alias("sd_sales"),
        F.sum(F.col("item_cnt_day")).alias("sum_sales"),
        F.count(F.col("item_cnt_day")).alias("n_items")
    ).show()

__Exercise__ What is mean, standard deviation and median of the number of sold items?

In [65]:
spark.sql("""
SELECT AVG(item_cnt_day) AS mean_sale
,   STDDEV(item_cnt_day) AS sd_sales
,   SUM(item_cnt_day) AS sum_sales
,   COUNT(*) AS nitems
,   PERCENTILE(item_cnt_day, 0.5) as median
FROM sales
""").show()

In [66]:
sales_sdf.show(50)

## GROUP BY

In [68]:
sales_sdf\
  .groupby("date", "shop_id")\
  .agg(
    F.sum(sales_sdf.item_cnt_day).alias("items_sold"),
    F.avg(sales_sdf.item_cnt_day).alias("avg_items_sold"))\
  .orderBy("shop_id","date")\
  .show()

In [69]:
spark.sql("""
SELECT 
    date_format(from_unixtime(unix_timestamp(date, 'dd.MM.yyyy')), "yyyy-MM-dd") AS date
,   SUM(item_cnt_day) AS items_sold
FROM sales
GROUP BY date
""").show()

In [70]:
sales_sdf\
  .groupby("date", "shop_id")\
  .agg(
    F.sum(sales_sdf.item_cnt_day).alias("items_sold"),
    sales_sdf.item_cnt_day)\
  .orderBy("shop_id","date")\
  .show()

In [71]:
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline

In [72]:
matplotlib.rcParams['figure.figsize'] = [20, 10]
matplotlib.rcParams['font.size'] = 20

In [73]:
pdf = spark.sql("""
SELECT date_format(from_unixtime(unix_timestamp(date, 'dd.MM.yyyy')), "yyyy-MM-dd") AS date
,   SUM(item_cnt_day) AS items_sold
FROM sales
GROUP BY date
""").toPandas()
pdf.set_index("date")['items_sold'].plot()
plt.show()

In [74]:
import pandas as pd

In [75]:
#pdf.head()
#pdf['date'] = pd.to_datetime(pdf.date)
#pdf.date.dt.year.head()
pdf = pdf[pdf.date.dt.year==2014] #.head()
pdf.sort_values("date").set_index("date")['items_sold'].plot()
plt.show()

In [76]:
sales_sdf\
    .withColumn("date", F.unix_timestamp(F.col("date"), 'dd.MM.yyyy'))\
    .groupBy(F.col("date"))\
    .agg(F.sum(F.col("item_cnt_day")).alias("items_sold"))\
    .show()

__Exercise__ For each day what is total daily revenue? Output table should have columns `date`, `total_revenue`.

In [78]:
sales_sdf\
  .groupBy(F.col("date"))\
  .agg(F.sum(F.col("item_cnt_day") * F.col('item_price')).alias("total_revenue"))\
  .show()

## Joins

In [80]:
sales_sdf.show()

In [81]:
shops_sdf = spark.read.option("header", "true").csv("/FileStore/tables/shops.csv")

In [82]:
shops_sdf.show(truncate=False)

In [83]:
shops_sdf.createOrReplaceTempView("shops")

In [84]:
spark.sql("""
SELECT sales.shop_id
,   shops.shop_name
FROM (
    SELECT DISTINCT shop_id
    FROM sales)  sales
LEFT JOIN shops
ON sales.shop_id == shops.shop_id
""").show(truncate=False)

In [85]:
spark.sql("""
select
  shop_id,
  count(*) as nb
from shops
group by shop_id
having nb > 1
order by nb desc
limit 10
"""
).show()

In [86]:
spark.sql("""
SELECT 
    sales.shop_id
,   shops.shop_name
,   sum(sales.item_cnt_day)
FROM sales
LEFT JOIN shops
ON sales.shop_id = shops.shop_id
GROUP BY sales.shop_id, shops.shop_name
""").show(truncate=False)

In [87]:
spark.sql("""
SELECT 
    sales.shop_id
,   shops.shop_name
,   sum(sales.item_cnt_day)
FROM sales
LEFT JOIN shops
USING (shop_id)
GROUP BY sales.shop_id, shops.shop_name
""").show(truncate=False)

In [88]:
sales_sdf\
  .join(shops_sdf, "shop_id", how="left")\
  .groupBy("shop_id", "shop_name")\
  .agg(F.sum(sales_sdf.item_cnt_day))\
  .show()

In [89]:
sales_sdf\
    .select("shop_id")\
    .distinct()\
    .join(shops_sdf, "shop_id", how="left")\
    .select("shop_id", "shop_name")\
    .show(truncate=False)

__Exercise__ Find a product with highest sell.

In [91]:
# example with cache
# example using struct data
# example using subqueries (explicit or as two dataframes)

In [92]:
item_daily_sales = sales_sdf\
  .groupBy("date","item_id")\
  .agg(F.sum(F.col("item_cnt_day")).alias("item_cnt_day")).cache()
item_daily_sales.show()

In [93]:
max_daily_sale = item_daily_sales\
  .groupBy("date")\
  .agg(F.max("item_cnt_day").alias("max_item_cnt_day"))
max_daily_sale.show()

In [94]:
max_daily_sale.alias("ms")\
  .join(item_daily_sales.alias("ds"), F.expr("(ms.date = ds.date) AND (ms.max_item_cnt_day = ds.item_cnt_day)"))\
  .select("ds.date","item_id","item_cnt_day")\
  .orderBy("date")\
  .show()

In [95]:
item_and_sales = item_daily_sales\
  .select("date", F.struct(F.col("item_cnt_day"),F.col("item_id")).alias("par"))\
  .groupBy("date")\
  .agg(F.max("par").alias("best_sale"))\
  .select("date","best_sale.item_cnt_day","best_sale.item_id")\
  .orderBy("date")
item_and_sales.show()

In [96]:
item_and_sales.printSchema()

Bonus: anadir el nombre del producto ? (indice `items.csv`)

__Exercise__ For each day in August 2015 find shop name with maximal sales.

## Window functions

First let's correct the date.

In [101]:
item_daily_sales.createOrReplaceTempView("item_daily_sales")

In [102]:
item_daily_sales.show()

In [103]:
spark.sql("""
SELECT
LEAD(Struct(date, item_id)) OVER (partition by date order by item_cnt_day desc) as item_id
FROM sales
order by date
""").show()

In [104]:
spark.sql("""
SELECT *
,   date_format(from_unixtime(unix_timestamp(date, 'dd.MM.yyyy')), "yyyy-MM-dd") AS date_iso
FROM sales
""").createOrReplaceTempView("sales_iso")

In [105]:
sales_iso_sdf = sales_sdf\
    .withColumn(
    "date_iso", 
    F.unix_timestamp(F.col("date"), 'dd.MM.yyyy'))
sales_iso_sdf.show()

In [106]:
spark.sql("""
SELECT shop_id
,   item_id
,   date_iso
,   item_cnt_day
,   LEAD(item_cnt_day) OVER 
        (PARTITION BY shop_id, item_id ORDER BY date_iso) as lead_item_cnt_day
FROM sales_iso
ORDER BY shop_id
,   item_id
,   date_iso
""").show()

In [107]:
from pyspark.sql import Window

sales_iso_sdf.select(
    F.col("shop_id"),   
    F.col("item_id"),   
    F.col("date_iso"),   
    F.col("item_cnt_day"),   
    F.lead(F.col("item_cnt_day"))\
        .over(Window.partitionBy("shop_id", "item_id").orderBy('date_iso'))\
        .alias("lead_item_cnt_day")
).orderBy("shop_id", "item_id", "date_iso").show()

In [108]:
window = Window.partitionBy("shop_id", "item_id").orderBy('date_iso')

sales_iso_sdf.select(
    F.col("shop_id"),   
    F.col("item_id"),   
    F.col("date_iso"),   
    F.col("item_cnt_day"),   
    F.lead(F.col("item_cnt_day"))\
        .over(window)\
        .alias("lead_item_cnt_day")
).orderBy("shop_id", "item_id", "date_iso").show()

__Exercise__ What is moving average (+-3 days) of total daily revenue?

## Extra Exercises

* Which shop had the highest sells in August 2015. What was his name?
* What is the name of category of with the highest monthly sells.

# DataFrame as an RDD of Rows

In [113]:
type(sales_sdf)

In [114]:
row = sales_sdf.first()
row

In [115]:
print(row.date)
print(row['date_block_num'])
row.asDict()

In [116]:
sales_sdf.rdd.take(5)

In [117]:
print(sales_sdf.rdd.toDebugString().decode())

In [118]:
sales_per_day = sales_sdf\
    .groupBy(F.col("date"))\
    .agg(F.sum(F.col("item_cnt_day")))

print(sales_per_day.rdd.toDebugString().decode())